<div class="banner">
    <div class="wrapper">
      <div class="banner-container">
        <div class="banner-text">
          <i class="bi bi-envelope-fill"></i>
          <span>contacto@ricochincha.com</span>
        </div>
        <div class="banner-text">
          <i class="bi bi-whatsapp"></i>
          <span>+51 9 9999 9999</span>
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div class="wrapper">
      <div class="header-container">
        <div class="header-logo">
          <a href="#">
            <img src="images/logo.png" />
          </a>
        </div>
        <div class="header-search">
          <div class="header-search-control">
            <input placeholder="Buscar producto" />
          </div>
          <button class="header-search-submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div class="header-toolbox">
          <div class="header-toolbox-option">
            <i class="bi bi-person-fill"></i>
          </div>
          <div class="header-toolbox-option">
            <i class="bi bi-cart-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>